//====================================================================================================

.footer {
  background-color: #f3f4ff;

  &__container {
  }

  &__top-section {
    position: relative;
    @include adaptiveValue("padding-top", 60, 25);
    @include adaptiveValue("padding-bottom", 50, 20);

    &::after {
      content: "";
      position: absolute;
      width: 100vw;
      height: 1px;
      background-color: #e5e5e5;
      bottom: 0;
      left: 50%;
      translate: -50% 0;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @media (max-width:$mobile){
      flex-direction: column;
      align-items: center;
    }
  }

  &__title-section {
    flex: 1 0 50%;
    @include adaptiveValue("padding-right", 90, 0, 0, 1200, 990);

    span {
      display: block;
    }

    @media (max-width:$mobile){
      flex: 1 1 fill;
      text-align: center;
    }
  }

  &__email {
    &, &::placeholder {
      @include adaptiveValue("font-size", 16, 14);
      background: none;
    }

    &:focus {
      outline: none;
    }
  }

  &__button {
    @include adaptiveValue("padding-block", 14, 10);
    @include adaptiveValue("padding-inline", 37, 20);
    border-radius: 10px;
    background-color: $accentColor;
    @include adaptiveValue("font-size", 18, 16);
    font-weight: 500;
    font-family: $primaryFont;
    color: $whiteColor;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    
    span {
      position: relative;
      z-index: 2;
    }

    &::after{
      content:'';
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      width: 0;
      translate: -50% -50%;
      background-color: $activeColor;
      transition: all 0.3s;
    }

    @media (any-hover: hover) {
      &:hover {
        letter-spacing: toRem(1);
        @include adaptiveValue("padding-inline", 35, 20);

        &::after{
          width: 200%;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: start;
    justify-content: space-between;
    @include adaptiveValue("padding-block", 60, 25, 0, 1200);
    @include adaptiveValue("column-gap", 50, 20, 0, 1200, 992);
    @include adaptiveValue("column-gap", 20, 0, 3, 992);
    @include adaptiveValue("row-gap", 45, 30, 0, 1200, 992);

    @media (max-width:$tablet){
      flex-wrap: wrap;
    }

    @media (max-width:$mobile){
      justify-content: center;
      column-gap: toRem(0);
    }
  }

  &__info {
    @include adaptiveValue("padding-right", 18, 10);
    flex: 0 1 toRem(380);
    
    @media (max-width:$tablet){
      order: 1;
      flex: 0 0 50%;
    }

    @media (max-width:$mobile){
      flex: 1 1 100%;
      text-align: center;
    }
  }

  &__text {
    @include adaptiveValue("margin-bottom", 35, 15, 0, 1200);
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 600;
    line-height: 2;
    text-transform: capitalize;
    letter-spacing: toRem(0.48);
  }

  &__section {
    white-space: nowrap;

    @media (max-width:$tablet){
      flex: 0 0 30%;
      order: 3;

      &:last-child {
        order: 2;
      }
    }

    @media (max-width:$mobile){
      min-width: 50%;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-inline: toRem(10);
      white-space: normal;
      order: 1;
      text-align: center;
    }
  }

  &__title {
    color: #191919;
    font-family: $primaryFont;
    @include adaptiveValue("font-size", 24, 18);
    font-weight: 600;
    @include adaptiveValue("margin-bottom", 24, 15);
  }

  &__navigation {
    display: flex;
    align-items: start;
    flex-direction: column;
    @include adaptiveValue("gap", 25, 15);

    @media (max-width:$mobile){
      align-items: center;
    }
  }

  &__link {
    position: relative;
    transition: color 0.3s;
    font-weight: 500;
    line-height: 1.2;
    @include adaptiveValue("font-size", 16, 14);

    &::before {
      content:'';
      position: absolute;
      height: toRem(2);
      left: 50%;
      bottom: 0;
      translate: -50% 0;
      width: 0;
      transition: width 0.2s;
      background: $activeColor;
    }

    @media (any-hover: hover){
      &:hover {
        color: $activeColor;

        &::before{
          width: 100%;
        }
      }
    }
  }

  &__soc-menu {
    @include adaptiveValue("margin-top", 20, 5);
    display: flex;
    align-items: center;
    gap: toRem(10);
  }

  &__soc-item {
    background: $whiteColor;
    border-radius: toRem(10);
    aspect-ratio: 1 / 1;
    width: toRem(30);
    @include adaptiveValue("width", 30, 20, 3, 768);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      width: 0;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background-color: $accentColor;
      left: 50%;
      top: 50%;
      translate: -50% -50%;
      transition: all 0.5s;
    }
  
    @media (any-hover: hover) {
      &:hover {
        background-color: $accentColor;
        color: $whiteColor;
        box-shadow: 0px 4px 35px 0px rgba(84, 94, 225, 0.55);
        transition: all 0.3s, box-shadow 0.3s 0.1s;
  
        &::after {
          width: 200%;
          transition: all 0.5s, box-shadow 0.3s 0.1s;
        }
  
        & > * {
          color: $whiteColor;
          transition: color 0.3s 0s;
        }
      }
    }
  }

  &__item-link {
    @include adaptiveValue("font-size", 20, 13, 3, 768);
    color: $accentColor;
    position: relative;
    z-index: 2;
    transition: all 0.3s 0.2s;
  }
}

.form {
  &__title {
    color: $titleColor;
    @include adaptiveValue("font-size", 26, 18);
    font-weight: 600;
    @include adaptiveValue("margin-bottom", 11, 10);
  }
  
  &__sub-title {
    @include adaptiveValue("font-size", 16, 14);

    @media (max-width:$mobile){
      max-width: toRem(220);
      margin: 0 auto;
      @include adaptiveValue("margin-block", 30, 20);
    }
  }

  &__input {
    flex: 1 1 50%;
    border-radius: 15px;
    background: #f9fcfb;
    box-shadow: 0px 20px 35px 0px rgba(84, 94, 225, 0.2);
    padding: toRem(8) toRem(10) toRem(8) toRem(20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow 0.3s;

    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0px 20px 35px 10px rgba(84, 94, 225, 0.4);
      }
    }

    @media (max-width:$tablet){
      flex: 1 1 30%;
    }

    @media (max-width:$mobile){
      flex: 0 1 50%;
    }
  }
}

//====================================================================================================
